<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/User/layout/layout :: mainContent('404',~{this::#content})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main id="content" class="relative block">
<div class="border-bottom border-color-8 mb-8" style="border-color: #ebf0f7 !important;border-bottom: 1px solid #e7eaf3 !important">
    <div class="container">
        <div class="row mb-5 mb-md-7 mb-lg-0">
            <div class="col-lg-5 col-xl-3dot5">
                <div class="mt-xl-2 mb-5 mb-md-7 mblg-0" style="padding-bottom: 8rem !important">
                    <div class="" style="font-weight: 500 !important;font-size: 12.5rem;color: #3b444f !important;text-align: left">404</div>
                    <h6 style="font-size: 1.313rem;font-weight: 500 !important;color: #3b444f !important;text-align: left !important;margin-top: -2rem;margin-bottom: 1rem;line-height: 1.5">
                        Looks like you're lost
                    </h6>
                    <p style="color: #67747c !important;text-align: left;padding-bottom: 0.25rem !important;margin-bottom: 2rem !important;line-height: 1.7;font-size: 1.5rem">
                        We can’t seem to find the page you’re looking for
                    </p>
                    <a class="btn cursor-pointer rounded-xs transition-3d-hover d-inline-flex " style="background-color: #297cbb;border-color: #297cbb;color:#ffffff;font-weight: 500;min-width: 11.875rem;min-height: 3.75rem;align-items: center;justify-content: center;border-radius: 0.188rem">
                        Back to Home
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

</main>


</body>
</html>