<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/Admin/layout :: mainContent('Flight',~{this::.content-wrapper})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="content-wrapper">

    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="row">
            <div class="card">
                <div class="card-header justify-content-between" style="border-bottom: 1px solid #e6e7e9">
                    <h5>Booking Flight</h5>
                    <a th:href="@{/Admin/Booking}" class="text-decoration-none btn btn-primary" style="width: 7%">

                        <span class="ms-1" style="color: white">Back</span>
                    </a>
                </div>
                <div class="card-body mt-5">

                </div>
                <div class="table-responsive text-nowrap mt-5">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Flight</th>
                            <th>Seat</th>
                            <th>Price</th>

                        </tr>
                        </thead>
                        <tbody class="table-border-bottom-0" id="FlightTableBody">
                        <th:block th:each="flights,start :${flight}">
                            <tr>
                                <td th:text="${start.index+1}"></td>
                                <td th:text="${flights.flight.flightCode}"></td>
                                <td th:text="${flights.seat.index}"></td>
                                <td th:text="'$'+   ${flights.totalPrice}"></td>
                            </tr>
                        </th:block>
                        <tr>
                            <td th:text="'TotalPrice '+${totalPriceFlight}"></td>
                        </tr>
                        </tbody>
                    </table>


                </div>
            </div>
        </div>

    </div>
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="row">
            <div class="card">
                <div class="card-header justify-content-between" style="border-bottom: 1px solid #e6e7e9">
                    <h5>Booking Hotel</h5>

                </div>
                <div class="card-body mt-5">

                </div>
                <div class="table-responsive text-nowrap mt-5">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Type Room</th>
                            <th>Hotel</th>
                            <th>Price</th>

                        </tr>
                        </thead>
                        <tbody class="table-border-bottom-0" id="FlightTableBody">
                        <th:block th:each="hotels,start :${Hotel}">
                            <tr>
                                <td th:text="${start.index+1}"></td>
                                <td th:text="${hotels.room.type.name}"></td>
                                <td th:text="${hotels.room.hotel.name}"></td>
                                <td th:text="'$'+   ${hotels.totalPrice}"></td>
                            </tr>
                        </th:block>
                        <tr>
                            <td th:text="'TotalPrice '+${totalPriceHotel}"></td>
                        </tr>
                        </tbody>
                    </table>


                </div>
            </div>
        </div>

    </div>

    <!-- / Content -->

    <!-- Footer -->
    <footer class="content-footer footer bg-footer-theme">
        <div class="container-xxl">
            <div
                    class="footer-container d-flex align-items-center justify-content-between py-4 flex-md-row flex-column">
                <div class="text-body mb-2 mb-md-0">
                    ©
                    <script>
                        document.write(new Date().getFullYear());
                    </script>
                    , made with <span class="text-danger"><i class="tf-icons ri-heart-fill"></i></span> by
                    <a href="https://themeselection.com" target="_blank" class="footer-link">ThemeSelection</a>
                </div>
                <div class="d-none d-lg-inline-block">
                    <a href="https://themeselection.com/license/" class="footer-link me-4" target="_blank">License</a>
                    <a href="https://themeselection.com/" target="_blank" class="footer-link me-4">More Themes</a>

                    <a
                            href="https://demos.themeselection.com/materio-bootstrap-html-admin-template/documentation/"
                            target="_blank"
                            class="footer-link me-4"
                    >Documentation</a
                    >

                    <a
                            href="https://github.com/themeselection/materio-bootstrap-html-admin-template-free/issues"
                            target="_blank"
                            class="footer-link"
                    >Support</a
                    >
                </div>
            </div>
        </div>


    </footer>
    <!-- / Footer -->

    <div class="content-backdrop fade"></div>

    <script th:fragment="customScripts" th:src="@{/Admin/FlightPortTable/Flight.js}"></script>
</div>


</body>
</html>